// Background Mixins //
@mixin bg($color) {
  background: $color;
}

@mixin bg-gradient($color1, $color2) {
  background: $color1;
  background: -webkit-linear-gradient(90deg, $color1, $color2);
  background: -o-linear-gradient(90deg, $color1, $color2);
  background: -moz-linear-gradient(90deg, $color1, $color2);
  background: linear-gradient(90deg, $color1, $color2);
}

@mixin bg-inverse-variant($color) {
  background: rgba($color, 0.2);
}