{% extends 'console/base.twig' %}
{% block content %}
	<section class="section">
		<header class="legacy-services-integration">
			<h3>
				Services Integration
			</h3>
		</header>
		<div class="console-search">
			<form>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search...">
					<div class="input-group-append">
						<button class="btn btn-primary" type="submit">Search</button>
					</div>
				</div>
			</form>
		</div> 
		<div class="console-services">
			<div class="card border-bottom">
				<div class="item mt-3 pb-3">
					<div class="thumbnail">
						<img src="https://avatars1.githubusercontent.com/u/35828095" alt="profile image">
					</div>
					<div class="text">
						<div class="d-flex">
							<p class="mb-0">Donec rutrum congue leo eget malesuada.</p>
						</div>
						<p class="text-graymb-2">Donec rutrum congue leo eget malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim
							vivamus.
						</p>
						<div class="row text-gray">
							<div class="col-6 d-flex">
								<small class="mb-0 mr-2 text-muted text-muted">Last responded :</small>
								<small class="Last-responded mr-2 mb-0 text-muted text-muted">3 hours ago</small>
							</div>
							<div class="col-6 d-flex">
								<small class="mb-0 mr-2 text-muted text-muted">Due in :</small>
								<small class="Last-responded mr-2 mb-0 text-muted text-muted">2 Days</small>
							</div>
						</div>
					</div>
					<div class="actions">
						<div class="btn-group dropdown">
							<button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Manage
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">
									<i class="fa fa-reply fa-fw">
									</i>Quick reply
								</a>

								<a class="dropdown-item" href="#">
									<i class="fa fa-history fa-fw"></i>
									Another action
								</a>

								<div class="dropdown-divider">
								</div>
								<a class="dropdown-item" href="#">
									<i class="fa fa-check text-success fa-fw"></i>
									Resolve Issue
								</a>
								<a class="dropdown-item" href="#">
									<i class="fa fa-times text-danger fa-fw"></i>
									Close Issue
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card border-bottom">
				<div class="item mt-3 pb-3">
					<div class="thumbnail">
						<img src="https://avatars1.githubusercontent.com/u/35828095" alt="profile image">
					</div>
					<div class="text">
						<div class="d-flex">
							<p class="mb-0">Donec rutrum congue leo eget malesuada.</p>
						</div>
						<p class="text-graymb-2">Donec rutrum congue leo eget malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim
							vivamus.
						</p>
						<div class="row text-gray">
							<div class="col-6 d-flex">
								<small class="mb-0 mr-2 text-muted text-muted">Last responded :</small>
								<small class="Last-responded mr-2 mb-0 text-muted text-muted">3 hours ago</small>
							</div>
							<div class="col-6 d-flex">
								<small class="mb-0 mr-2 text-muted text-muted">Due in :</small>
								<small class="Last-responded mr-2 mb-0 text-muted text-muted">2 Days</small>
							</div>
						</div>
					</div>
					<div class="actions">
						<div class="btn-group dropdown">
							<button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Manage
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">
									<i class="fa fa-reply fa-fw">
									</i>Quick reply
								</a>

								<a class="dropdown-item" href="#">
									<i class="fa fa-history fa-fw"></i>
									Another action
								</a>

								<div class="dropdown-divider">
								</div>
								<a class="dropdown-item" href="#">
									<i class="fa fa-check text-success fa-fw"></i>
									Resolve Issue
								</a>
								<a class="dropdown-item" href="#">
									<i class="fa fa-times text-danger fa-fw"></i>
									Close Issue
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card border-bottom">
				<div class="item mt-3 pb-3">
					<div class="thumbnail">
						<img src="https://avatars1.githubusercontent.com/u/35828095" alt="profile image">
					</div>
					<div class="text">
						<div class="d-flex">
							<p class="mb-0">Donec rutrum congue leo eget malesuada.</p>
						</div>
						<p class="text-graymb-2">Donec rutrum congue leo eget malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim
							vivamus.
						</p>
						<div class="row text-gray">
							<div class="col-6 d-flex">
								<small class="mb-0 mr-2 text-muted text-muted">Last responded :</small>
								<small class="Last-responded mr-2 mb-0 text-muted text-muted">3 hours ago</small>
							</div>
							<div class="col-6 d-flex">
								<small class="mb-0 mr-2 text-muted text-muted">Due in :</small>
								<small class="Last-responded mr-2 mb-0 text-muted text-muted">2 Days</small>
							</div>
						</div>
					</div>
					<div class="actions">
						<div class="btn-group dropdown">
							<button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Manage
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">
									<i class="fa fa-reply fa-fw">
									</i>Quick reply
								</a>

								<a class="dropdown-item" href="#">
									<i class="fa fa-history fa-fw"></i>
									Another action
								</a>

								<div class="dropdown-divider">
								</div>
								<a class="dropdown-item" href="#">
									<i class="fa fa-check text-success fa-fw"></i>
									Resolve Issue
								</a>
								<a class="dropdown-item" href="#">
									<i class="fa fa-times text-danger fa-fw"></i>
									Close Issue
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card border-bottom">
				<div class="item mt-3 pb-3">
					<div class="thumbnail">
						<img src="https://avatars1.githubusercontent.com/u/35828095" alt="profile image">
					</div>
					<div class="text">
						<div class="d-flex">
							<p class="mb-0">Donec rutrum congue leo eget malesuada.</p>
						</div>
						<p class="text-graymb-2">Donec rutrum congue leo eget malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim
							vivamus.
						</p>
						<div class="row text-gray">
							<div class="col-6 d-flex">
								<small class="mb-0 mr-2 text-muted text-muted">Last responded :</small>
								<small class="Last-responded mr-2 mb-0 text-muted text-muted">3 hours ago</small>
							</div>
							<div class="col-6 d-flex">
								<small class="mb-0 mr-2 text-muted text-muted">Due in :</small>
								<small class="Last-responded mr-2 mb-0 text-muted text-muted">2 Days</small>
							</div>
						</div>
					</div>
					<div class="actions">
						<div class="btn-group dropdown">
							<button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Manage
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">
									<i class="fa fa-reply fa-fw">
									</i>Quick reply
								</a>

								<a class="dropdown-item" href="#">
									<i class="fa fa-history fa-fw"></i>
									Another action
								</a>

								<div class="dropdown-divider">
								</div>
								<a class="dropdown-item" href="#">
									<i class="fa fa-check text-success fa-fw"></i>
									Resolve Issue
								</a>
								<a class="dropdown-item" href="#">
									<i class="fa fa-times text-danger fa-fw"></i>
									Close Issue
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card border-bottom">
				<div class="item mt-3 pb-3">
					<div class="thumbnail">
						<img src="https://avatars1.githubusercontent.com/u/35828095" alt="profile image">
					</div>
					<div class="text">
						<div class="d-flex">
							<p class="mb-0">Donec rutrum congue leo eget malesuada.</p>
						</div>
						<p class="text-graymb-2">Donec rutrum congue leo eget malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim
							vivamus.
						</p>
						<div class="row text-gray">
							<div class="col-6 d-flex">
								<small class="mb-0 mr-2 text-muted text-muted">Last responded :</small>
								<small class="Last-responded mr-2 mb-0 text-muted text-muted">3 hours ago</small>
							</div>
							<div class="col-6 d-flex">
								<small class="mb-0 mr-2 text-muted text-muted">Due in :</small>
								<small class="Last-responded mr-2 mb-0 text-muted text-muted">2 Days</small>
							</div>
						</div>
					</div>
					<div class="actions">
						<div class="btn-group dropdown">
							<button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Manage
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">
									<i class="fa fa-reply fa-fw">
									</i>Quick reply
								</a>

								<a class="dropdown-item" href="#">
									<i class="fa fa-history fa-fw"></i>
									Another action
								</a>

								<div class="dropdown-divider">
								</div>
								<a class="dropdown-item" href="#">
									<i class="fa fa-check text-success fa-fw"></i>
									Resolve Issue
								</a>
								<a class="dropdown-item" href="#">
									<i class="fa fa-times text-danger fa-fw"></i>
									Close Issue
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}