<div class="wrap ux-wrapper">
	<div class="page-content">
		<section class="ux-section">
			<div class="container">
				{% block header %}
					
				{% endblock %}
				
				<div class="main-content">
					{% block content %}

					{% endblock %}
				</div>	
			</div>
		</section>
	</div>
</div>